<a href="https://colab.research.google.com/github/XiaonaZhou/data_analytics_2/blob/main/Python/Unit_2_lesson_2%263%264%265%266.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Intro to Python for Data Analytics**

## Lesson 2

3. Create a variable that holds the string “hello there!”

In [ ]:
Str1 = "hello there!"

In [ ]:
Str1

'hello there!'

4. Create a variable for first name, last name and an email extension.  Concatenating all three together to form an email address.  For example: firstnamelastname@gmail.com

In [ ]:
first_name="Xiaona"; last_name="Zhou"; email_extension= "@gmail.com"

In [ ]:
print(first_name+last_name+email_extension)

XiaonaZhou@gmail.com

5. Store the name of someone you know in a variable called name.  Print their name in lower and uppercase using a method.

In [ ]:
name = "Xiaona"
name.lower()

'xiaona'

In [ ]:
name.upper()

'XIAONA'

6.Using a variable, ask your friend if they want to hang out on the 15th of the month.  For example, “Do you want to hang out on the 15th of this month?”  You should have to convert the number to a string.

In [ ]:
date_of_month = 15

In [ ]:
print("Do you want to hang out on the " + str(date_of_month)+ "th of this month?")

Do you want to hang out on the 15th of this month?

## Lesson 3

1. Create a list of 5 of your favorite tv shows.

In [49]:
tv_show_list = ["The Big Bang Theory", "The Good Doctor", "Young Sheldon", "Sherlock", "Grey's Anatomy"]

2. Print the list in its original order.

In [50]:
print(tv_show_list)

['The Big Bang Theory', 'The Good Doctor', 'Young Sheldon', 'Sherlock', "Grey's Anatomy"]

3. Use the sorted() function to print the list in alphabetical order.  How is sorted() different from sort()?

sort() change the order within the list permanently.

sorted() does not change the order of the list, it return sorted list without changing the order of the list permanently.

In [51]:
# return sorted list in alphabetical order
print(sorted(tv_show_list))

["Grey's Anatomy", 'Sherlock', 'The Big Bang Theory', 'The Good Doctor', 'Young Sheldon']

In [ ]:
# the list tv_show_list remains the same. 
tv_show_list

['The Big Bang Theory',
 'The Good Doctor',
 'Young Sheldon',
 'Sherlock',
 "Grey's Anatomy"]

In [ ]:
# return sorted list in reverse alphabetical order
print(sorted(tv_show_list,reverse=True))

['Young Sheldon', 'The Good Doctor', 'The Big Bang Theory', 'Sherlock', "Grey's Anatomy"]

**.sort()**

In [ ]:
# reoder the list 
tv_show_list.sort()

In [ ]:
# the order changed in tv_show_list
print(tv_show_list)

["Grey's Anatomy", 'Sherlock', 'The Big Bang Theory', 'The Good Doctor', 'Young Sheldon']

6. Create a message indicating how many favorite TV shows you have – use the len() function.

In [ ]:
len(tv_show_list)

5

## Lesson 4

1. Create a list that holds 5 data variables.

In [ ]:
v1 = "first value"
v2 = "3"
v3 = "3.6"
v4 = "True"
v5 = "False"
my_list = [v1,v2,v3,v4,v5]

In [ ]:
my_list

['first value', '3', '3.6', 'True', 'False']

2. Print out those variables by using a for loop.

In [ ]:
for i in range(0,len(my_list)):
  print(my_list[i])

first value
3
3.6
True
False

3. Modify your for loop to add a message to your for loop.

In [ ]:
for i in range(0,len(my_list)):
  print("At index "+str(i)+", we have "+str(my_list[i]))

At index 0, we have first value
At index 1, we have 3
At index 2, we have 3.6
At index 3, we have True
At index 4, we have False

4. Use a for loop to print even numbers from 1-20.

Method 1: using for loop and if statement

In [ ]:
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

Method 2: multiples of 2 are even number.

In [ ]:
for i in range(1,11):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

Method 3: list comprehension

In [ ]:
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

5. Sort your list in alphabetic order.

In [ ]:
sorted(my_list)

['3', '3.6', 'False', 'True', 'first value']

6. Print out the first three elements of your list.

In [ ]:
my_list[0:3]

['first value', '3', '3.6']

7. Create a loop to print the last 2 elements of your list.

In [ ]:
my_list

['first value', '3', '3.6', 'True', 'False']

Method 1: using index

In [ ]:
my_list[3:5]

['True', 'False']

Method 2: using a loop

In [ ]:
for i in range(3,5):
  print(my_list[i])

True
False

## Lesson 5

1. Make a list of 5 or more usernames, including an admin account. Imagine you are writing code that will welcome people to your application on login. Loop through the list and print your greeting.

* If the admin account logs in, give them a special greeting.  They’re the admin, after all!
* Other users can get the generic greeting

In [1]:
users = ["Emma", "John", "Emily", "Jake", "Zack","admin"]
for i in range(0,len(users)):
  if users[i]=="admin":
    print("Welcome admin")
  else:
    print("Hello!"+users[i])

Hello!Emma
Hello!John
Hello!Emily
Hello!Jake
Hello!Zack
Welcome admin

2. Store numbers 1-10 in a list

* Loop through the list
* Use an if-elif-else chain inside your loop to print the ordinal ending for each number – for example – 1st, 2nd, 3rd … etc.

In [2]:
number_list =list(range(1, 11))

In [3]:
number_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
for i in range(0,len(number_list)):
  if number_list[i]==1:
    print(str(number_list[i])+"st")
  elif number_list[i]==2:
    print(str(number_list[i])+"nd")
  elif number_list[i]==3:
    print(str(number_list[i])+"rd")
  else:
    print(str(number_list[i])+"th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th

## Lesson 6  Python Dictionaries

1. Create a simple dictionary that stores 2 variables, for example: first and last name.

In [5]:
dic = {"first name": "Xiaona", "last name": "Zhou"}

In [6]:
dic

{'first name': 'Xiaona', 'last name': 'Zhou'}

2. Print out those variables stored in your previous dictionary. 

For dictionary type, 
* to access the keys, use dic_name.keys(),
* to access the values, use dic_name.values(),
* to access the items, use dic_name.items()

In [15]:
print(dic.keys())

dict_keys(['first name', 'last name'])

In [16]:
print(dic.values())

dict_values(['Xiaona', 'Zhou'])

In [17]:
print(dic.items())

dict_items([('first name', 'Xiaona'), ('last name', 'Zhou')])

In [30]:
for x in dic.values():
  print(x)

Xiaona
Zhou

In [32]:
for x in dic.keys():
  print(x)

first name
last name

In [33]:
for x, y in dic.items():
  print(x,y)

first name Xiaona
last name Zhou

In [18]:
dic['first name']

'Xiaona'

In [19]:
dic['last name']

'Zhou'

3. Add a message to those variables on printing: for example: “Hello, firstname lastname!”

In [22]:
print("Hello, "+dic['first name']+' ' +dic['last name'] +'!')

Hello, Xiaona Zhou!

4. Create a dictionary that holds 2 key: value pairs:
Look through your dictionary and print each pair,

In [23]:
dic2 = {"first key": 1, "second key": 2}

In [29]:
for x, y in dic2.items():
  print(x, y)

first key 1
second key 2

5. Create a nested dictionary containing three dictionaries – these dictionaries could be anything (favorite pets, travel locations, etc.)
* Loop through the dictionaries and print a message for each.

In [34]:
dic_nested = {"favorite food": {"name":"apple","reason":"sweet"}, "favorite place": {"name": "Xizang", "reason":"beautiful"}}

In [35]:
dic_nested.keys()

dict_keys(['favorite food', 'favorite place'])

In [48]:
for x in dic_nested.keys():
  print("My "+ x + " is "+ str(dic_nested[x]['name'])+ " because it is "+str(dic_nested[x]['reason'])+'!')

My favorite food is apple because it is sweet!
My favorite place is Xizang because it is beautiful!